img {
    width: 100% !important;
    background-color: khaki!important;
  }
  .radiusShadow {
    width: 20rem;
    border-radius: 10%;
    border: seagreen solid 1px!important;
    /*-webkit-box-shadow: 2px 3px 10px 9px seagreen; 
  box-shadow: 2px 3px 10px 9px seagreen;*/
  }
  .BackgroundColor {
    background-color: seagreen!important;
  }
  h1 {
    color:seagreen;
    background-color: khaki;
    padding:10%;
    text-align: center;
    opacity: 0.9;
    width: 100%;
  }
  .noResult {
    position:absolute!important;
    text-align: center;
    margin: auto;
  }
